div {
  color: black;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-size: 1.1em;
}

body {
  background-color: white;
  margin: auto;
  border: 0px solid black;
  padding: 30px;
  font-family: monospace;
}

p {
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
  max-width: 450px;
}

button {
  background-color: #ffffff;
  color: black;
  padding: 5px 5px;
  border-width: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#apiKey {
  width: 450px;
  height: 30px;
  font-family: monospace;
}

#optionButtons {
  padding: 10px 0 0 0;
}

[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.newFeature b {
  color: red;
}
