div {
  color: black;
  margin: auto;
  max-width: 458px;
  height: fit-content;
  text-align: left;
}

body {
  background-color: #fff;
  margin: auto;
  border: 0px solid black;
  padding: 30px;
  font-family: sans-serif;
}

p {
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
  max-width: 450px;
}

button {
  background-color: #fff;
  border: solid 1px #c0c0c0;
  border-radius: 6px;
  padding: 7px 11px;
  color: #484848;
  margin-right: 2px;
  font-size: 15px;
}

#apiKey {
  width: 450px;
  height: 30px;
}

#optionButtons {
  padding: 10px 0 0 0;
}

[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.newFeature b {
  color: red;
}

.btn-saccade-container {
  margin-left: 2px;
}

.btn-fix-container {
  margin-left: 2px;
}

.btn-save,
.btn-preview,
.btn-clear-storage {
  background-color: #2e85ff;
  color: #fff;
}

.btn-select {
  background-color: #08c500;
  color: #fff;
  border: 1px solid #08c500;
}

.btn-saved {
  background-color: #8fbeff;
  color: #eee;
}

button.btn-preview:active,
button.btn-clear-storage:active {
  background-color: #8fbeff;
  color: #eee;
}
