* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  margin: auto;
  width: 50%;
  border: 0px solid black;
}

#bionic-response {
  background-color: #fff;
  color: black;
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 1.1em;
  padding: 50px 70px 40px;
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2);
}
